<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-fab color="light" routerLink="#">LHN</button>

        
        <button mat-raised-button color="primary" routerLink="/home">
            <mat-icon class="example-icon">favorite</mat-icon>Home
        </button>

        <button mat-raised-button color="primary" routerLink="/customer">
            <mat-icon class="example-icon">favorite</mat-icon>Customer
        </button>

        <span class="example-spacer"></span>
        
        <button mat-raised-button color="primary" routerLink="/login">
            <mat-icon class="example-icon">delete</mat-icon>Login
        </button>
    </mat-toolbar-row>
</mat-toolbar>